main {
  .contact {
    height: fit-content;
    width: 100vw;
    border-bottom: 1px solid var(--dark-gray);

    .container {
      margin: 0 auto;
      width: 93%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      gap: 40px;
      padding: 50px 0 70px 0;
    }

    &__title {
      color: var(--gray);
    }
    &__description {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 30px;
      width: 45%;
      .description-title {
        color: var(--dark-gray);
        // font-family: 'Gilroy-Bold', sans-serif;
        font-size: 55px;
        font-weight: bold;
        text-transform: uppercase;

      }
      .description-subtext {
        color: var(--dark-gray);
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 34px;
      }
    }
  }
  @media screen and (max-width: 320px){
    .contact {
      &__title {
        font-size: 55px !important;
      }
      &__description{
        width: 100% !important;
      }
      .description-title {
        font-size: 30px !important;
      }
      .description-subtext {
      font-size: 25px !important;
      }
      .button{
        width: 100% !important;
        justify-content: center !important;
      }
    }
  }
  @media screen and (min-width: 600px){ 
    .contact {
      &__title {
        font-size: 95px !important;
      }
    }
  }
  @media screen and (min-width: 1200px){ 
    .contact {
      &__title {
        font-size: 155px !important;
      }
    }
  }
  @media screen and (max-width: 768px){ 
    .contact {
      .container {
        padding: 30px 0 50px 0;
        flex-direction: column;
        align-items:  center;
      }
      &__description{
        text-align: center;
        align-items: center;
        width: 100%;
      }
      &__title {
        font-size: 75px;

      }
      .description-title {
        font-size: 45px ;
      }
      .description-subtext {
      font-size: 34px;
      }
    }
  }
}