@import 'reset';
@import 'variables';
@import 'whatIdo';
@import 'myclients';
@import 'contact';
@import 'footer';
@import url(../fonts/Gilroy/stylesheet.css);

body {
  background-color: var(--bg-color);
  margin: 0 auto;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 100vw;
  box-sizing: border-box;

  h3 {
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 300;
    text-align: center;
    color: var(--dark-gray);

  }
  h4 {
    text-transform: uppercase;
    font-size: 212px;
    font-weight: 300;
    text-align: center;
    color: var(--dark-gray);
  }
  
  .button {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
    background-color: var(--dark-gray);
    
  }
}