main{
  .my-clients {
    height: fit-content;
    width: 100vw;
    border-bottom: 1px solid var(--dark-gray);
    
    .container {
        margin: 0 auto;
        width: 93%;
        padding: 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        .client-photo {
          width: 70px;
          height: 70px;
          border-radius: 50px;
        }
    }

    &__list{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    &__list-item {
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: start;
      gap: 30px;
      .item-title {
        font-size: 40px;
        font-weight: 800;
        line-height: 44px; 
        color: var(--gray);
        
      }
      .item-description {
        font-family: 'Inter',sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
      }
    }
      &__client {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .client{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          gap: 10px;
        &__name {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            font-family: 'Inter',sans-serif;
            font-size: 20px;
            font-weight: 600;
            line-height: 20px;
        }
        &__position {
          font-family: 'Inter',sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }
    
    &__list-item:nth-child(1) {
      border-bottom: 1px solid var(--dark-gray);
      border-right: 1px solid var(--dark-gray);
    }
    &__list-item:nth-child(2) {
      border-bottom: 1px solid var(--dark-gray);
      border-right: 1px solid var(--dark-gray);
    }
    &__list-item:nth-child(3) {
      border-bottom: 1px solid var(--dark-gray);
    }
    &__list-item:nth-child(4) {
      border-right: 1px solid var(--dark-gray);
    }
    &__list-item:nth-child(5) {
      border-right: 1px solid var(--dark-gray);
    }
  }

  @media screen and (max-width: 320px){
    .my-clients{
      &__title {
      font-size: 50px !important;
      letter-spacing: 0 !important;
      }
    }
  }

  @media screen and (min-width: 321px) and (max-width: 500px) {
    .my-clients{
      &__title {
        font-size: 82px !important;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .my-clients{
      &__list{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 40px;
      }
      &__list-item {
        padding: 0 0 40px 0;
      }
      &__info{
        width: 93%;
      }
      &__list-item:nth-child(1) {
        border-right: none;
      }
      &__list-item:nth-child(2) {
        border-right: none;
      }
      &__list-item:nth-child(4) {
        border-right: none;
        border-bottom: 1px solid var(--dark-gray);
      }
      &__list-item:nth-child(5) {
        border-right: none;
        border-bottom: 1px solid var(--dark-gray);
      }
      &__title {
        font-size: 110px;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 6px;
      }
    }
  }
 
}