main {
  .what-i-do {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 1px var(--dark-gray) solid;
    
    &__image {
      background-image: url(../images/what-i-do-bgd.jpg);
      width: 50vw;
      min-height: 1137px;
      height: auto;
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__info {
      width: 48%;
      
      .container {
        margin: 0 auto;
        width: 86%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        .info-title {
          margin-top: 70px;
        }
        .list {
          width: 98%;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: center;
          gap: 40px;

          &__name:first-child:before {
            display: block;
            position: absolute;
            content: '01';
            font-family: 'Gilroy-Light', sans-serif !important;
            font-size: 42px;
            top: -2px;
           }
           &__name:nth-child(2):before {
            display: block;
            position: absolute;
            content: '02';
            font-family: 'Gilroy-Light', sans-serif !important;
            font-size: 42px;
            top: -2px;

           }
           &__name:nth-child(3):before {
            display: block;
            position: absolute;
            content: '03';
            font-family: 'Gilroy-Light', sans-serif !important;
            font-size: 42px;
            top: -2px;

           }
           &__name:nth-child(4):before {
            display: block;
            position: absolute;
            content: '04';
            font-family: 'Gilroy-Light', sans-serif !important;
            font-size: 42px;
            top: -2px;

           }
           
          &__name {
            border-bottom: 1px var(--dark-gray) solid;
            position: relative;
            .list-title {
            font-family: 'Gilroy-SemiBold', sans-serif;
            text-transform: uppercase;
            font-size: 44px;
            line-height: 48px;
            padding-left: 60px;
            
            }
            .list-text {
              font-family: 'Inter', sans-serif;
              text-transform: none;
              font-size: 20px;
              line-height: 28px; 
              padding-bottom: 40px;
              padding-top: 10px;
            }
          }
          
          
          
          &__name:last-child{
            border-bottom: none;
            margin-bottom: 30px;
            
          }
        }
      }
    }
  }
  @media screen and (max-width: 320px) {
    .list {
      &__name:nth-child(1):before{
        font-size: 25px !important;
        top: 9px !important;
      }
      &__name:nth-child(2):before{
        font-size: 25px !important;
        top: 9px !important;
      }
      &__name:nth-child(3):before{
        font-size: 25px !important;
        top: 9px !important;
      }
      &__name:nth-child(4):before{
        font-size: 25px !important;
        top: 9px !important;
      }
      &__name {

        .list-title{
          font-size: 25px !important;
          padding-left: 35px !important;
        }
     }
    }
  }
  @media screen and (min-width: 769px) {
    .info-title {
      font-size: 62px !important;
    }
  }
  @media screen and (min-width: 950px) {
    .info-title {
        font-size: 75px !important;
    }
  }
  @media screen and (min-width: 1000px) {
    .info-title {
        font-size: 80px !important;
    }
  }
  @media screen and (min-width: 1300px) {
    .info-title {
        font-size: 100px !important;
    }
  }
  @media screen and (min-width: 1600px) {
    .info-title {
        font-size: 128px !important;
    }
  }
   @media screen and (min-width: 1858px) {
    .info-title {
        font-size: 150px !important;
    }
  }

  @media screen and (max-width: 768px) {
    .what-i-do {
      height: fit-content;
      flex-direction: column;
      justify-content: start;
      &__image {
        min-height: 600px;
        width: 100%;
      }
      &__info {
        width: 100vw;
        margin: 0 auto;
      }
      .container {
        width: 95%;
        gap: 40px;
        .info-title{
            padding-top: 20px;
            font-size: 96px;
          }
      }
    }
  }
  @media screen and (max-width: 320px) {
    .what-i-do {
      &__image {
        min-height: 350px !important;
        width: 100%;
      }
      .container {
        .info-title{
            font-size: 55px;
            margin-top: 0px;
          }
      }
    }
}

}